.error div textarea {
  border: 2px solid red;
}

.error div input {
  border: 2px solid red;
}

.textColor {
  color: red;
}

.input {
  font-weight: 400;
  border: 1px solid blue;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: .25rem;
}

.inputField {
  margin-bottom: 20px;
}